<div class="modal fade in" id="restore_password">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="closeModal" data-dismiss="modal">
          <span></span>
          <span></span>
        </div>
        <h2 class="text-center">Забыли пароль?</h2>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, url: password_path(:user), html: { method: :post }) do |f| %>
          
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "modalInput", required: true %>
            <%= f.submit "Выслать ссылку", class: "blueBtn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>