<div class="modal fade in" id="teams_list">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">x</button>
          <h2 class="text-center">Список команд</h2>
        </div>
        <div class="modal-body">
          Список
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>