<div class="modal fade in" id="user_agree">
    <div class="modal-dialog userAgree">
      <div class="modal-content">
        <div class="modal-header">
          <div class="closeModal" data-dismiss="modal">
            <span></span>
            <span></span>
          </div>
          <h2 class="text-center">Пользовательское<br/> соглашение</h2>
        </div>
        <div class="modal-body">
          <div class="rule">
            <h3 class="text-center">1.Понятия, используемые в настоящем Соглашении.</h3>
            <p>«Сайт» — Веб-сайт, то есть ресурс, размещенный в сети Интернет по адресу http://mozgva.ru/, посредством которого обеспечивается отображение информации об оказываемых Мозгвой услугах. Веб-сайт предоставляет Пользователю возможность через Интернет взаимодействовать с системой бронирования участия в Бар-олимпиаде на желаемое время и дату, включая возможность получить данные о наличии мест. Отношения, связанные с бронированием участия в Бар-Олимпиаде могут регулироваться в том числе отдельными офертами, размещенными на Сайте.</p>
            <p>«Пользователь» — любое физическое лицо, осуществляющее активность на Сайте (регистрацию/бронирование мест/размещение материалов с Сайта на страницах в социальных сетях и в сети Интернет и т.п.) в соответствии с условиями настоящего Соглашения, принимавшее\принимающее участие в Бар-Олимпиаде.</p>
            <p>«Мозгва» — ООО «Мозгва» (ОГРН 1167746286564) - юридическое лицо, являющееся правообладателем Сайта и организатором Бар-олимпиады.</p>
            <p>«Бар-олимпиада» — интеллектуально-развлекательная командная игра, начинающаяся в указанное в расписании на Сайте время суток и проходящее в течение определенного непрерывного промежутка времени в определенном месте его проведения, в соответствии с определенными организаторами Мозгвы Правилами и условиями Бар-олимпиады, которые включают в себя требования, в том числе ограничения по количеству участников одной команде (не более и не менее указанного на Сайте допустимого числа участников) и иные ограничения при необходимости.</p>
            <p>«Место проведения» - место, определенное заблаговременно организаторами и представителями Мозгвы, доведенное до сведения Пользователей, забронировавших места для участия в Бар-олимпиаде, любым удобным способом, в частности размещением данной информации на Сайте.</p>
            <p>«Персональные данные» — любая информация, относящаяся прямо или косвенно к физическому лицу (субъекту персональных данных - Пользователю), в том числе Ф.И.О., электронная почта, мобильный телефонный номер и пароль, при необходимости его введения.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">2.Общие положения.</h3>
            <p>Настоящее Соглашение является договором, заключаемым между Мозгвой и Пользователем, и заменяет собой все предыдущие соглашения между ними. Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов Сайта и участия в Бар-олимпиаде.</p>
            <p>В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (ГК РФ), настоящее Соглашение признается публичной офертой.</p>
            <p>Настоящее соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, определенном п. 2.4. настоящего Соглашения.</p>
            <p>Пройдя процедуру регистрации и дав свое согласие с данным Соглашением, Пользователь считается принявшим условия настоящего Соглашения в полном объеме без ограничений и оговорок. В случае, если Пользователь не согласен полностью или в части с положениями настоящего Соглашения, то он не имеет права использовать материалы и сервисы Сайта, в том числе использовать услугу бронирования участия в Бар-олимпиаде. Присутствие Пользователя на Бар-олимпиаде автоматически означает его согласие с условиями ее проведения, ознакомление с Правилами Бар-Олимпиады, принятие условий Соглашения в полном объеме.</p>
            <p>Мозгва вправе в любой момент в одностороннем порядке и без какого-либо специального уведомления внести изменения и/или дополнения в настоящее Соглашение путем опубликования обновленной версии на Сайте. Обновленная версия Соглашения вступает в силу с момента ее публикации на Сайте. В случае, если Пользователь не согласен полностью или в части с положениями обновлённой версии Соглашения, то он не имеет права использовать материалы и сервисы Сайта, в том числе использовать услугу бронирования участия в Бар-олимпиаде, принимать участие в Бар-олимпиаде.</p>
            <p>Условия использования материалов и сервисов Сайта регулируются настоящим Соглашением и иными соглашениями (оферта), размещенными на Сайте.</p>
            <p>Действующая редакция настоящего Соглашения располагается в сети Интернет по адресу: http://mozgva.ru/.</p>
            <p>При проведении Бар-олимпиады в кафе, ресторане или ином месте, Пользователь обязуется соблюдать правила поведения, установленные данным заведением. В случае их несоблюдения и/или поведения Пользователя, которое создает угрозу жизни и здоровью третьих лиц, Мозгва оставляет за собой право: произвести фото и видео фиксацию нарушений, удалить Пользователя с территории места проведения Бар-олимпиады, сообщить в правоохранительные охраны о случае противоправного поведения Пользователя.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">3.Условия использования материалов и сервисов Сайта.</h3>
            <p>Пользователь обязан внимательно ознакомиться с настоящим Соглашением. Пройдя любую из процедур на Сайте, включая, но не ограничиваясь процедурой регистрации, бронирования мест, Пользователь подтверждает, что прочитал, понял и согласен соблюдать условия настоящего Соглашения, то есть выражает полное и безоговорочное принятие условий настоящего Соглашения в соответствии со статьей 438 ГК РФ.</p>
            <p>Настоящее Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями путем проставления отметки о согласии (галочки) в специальном поле рядом со ссылкой на текст Пользовательского Соглашения напротив фразы «Я принимаю условия настоящего Пользовательского соглашения».</p>
            <p>Мозгва в одностороннем порядке вправе устанавливать ограничения в использовании материалы и сервисов Сайта как для всех Пользователей, так и для отдельных категорий Пользователей.</p>
            <p>Пользователь не имеет право использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта.</p>
            <p>Пользователь не имеет право нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.</p>
            <p>Пользователь не имеет право использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Мозгвы и/или других лиц.</p>
            <p>Все объекты, доступные при использовании Сайта, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты, размещенные на Сайте (далее совместно — «Контент»), являются объектами исключительных прав Мозгвы и других правообладателей. Любое использование Контента без согласия его правообладателей строго запрещено.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">4.Порядок бронирования мест для участия в Бар-олимпиаде.</h3>
            <p>Для того, чтобы забронировать место для участия в Бар-олимпиаде с помощью cервиса Сайта, Пользователь обязан пройти процедуру регистрации на Сайте.</p>
            <p>При регистрации Пользователь вводит в специальную форму регистрации свое имя, адрес электронной почты (e-mail), номер мобильного телефона.</p>
            <p>После внесения данных для регистрации Пользователь получает сообщение на номер мобильного телефона, указанный при Регистрации.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">5.Персональные данные и политика конфиденциальности.</h3>
            <p>Внося данные для регистрации/бронирования мест для участия в Бар-олимпиаде, Пользователь предоставляет Мозгве информацию, составляющую персональные данные Пользователя и дает свое согласие на обработку Мозгвой такой персональной информации, в том числе ее передачу третьим лицам.</p>
            <p>Пользователь полностью соглашается и разрешает Мозгве обнародование и дальнейшее использование в рекламных целях и какого-либо рода рекламных акциях изображений Пользователя (в том числе его фотографии, а также видеозаписи или произведения изобразительного искусства, на которых он изображен), в том числе, если его изображение получено при съемке, которая проводилась в местах, открытых для свободного посещения, или на публичных мероприятиях.</p>
            <p>Пользователь не имеет права использовать какие-либо технические устройства во время проведения Бар-олимпиады, в том числе не имеет права производить фото-, видео- и аудио съемку без предварительного письменного разрешения Мозгвы, поскольку при проведении Бар-олимпиады используются материалы, товарные знаки и ноу-хау, составляющие коммерческую тайну Мозгвы. В случае, если Пользователь нарушает данное условие, представители и организаторы Мозгвы оставляют за собой право вернуть оплаченные денежные средства и отказать в оказании услуг по проведению Бар-олимпиады данному Пользователю.</p>
            <p>Мозгва может обрабатывать персональные данные следующим образом, если не указано иное: собирать, накапливать, хранить, систематизировать, уточнять, использовать, обезличивать, передавать данную информацию третьим лицам.</p>
            <p>Мозгва и иные уполномоченные ею сотрудники могут использовать персональные данные Пользователей для связи с Пользователем и/или предоставлять в рамках договорных отношений третьим лицам информацию о пользователях сайта.</p>
            <p>Обработка персональных данных Пользователя осуществляется в соответствии с законодательством в области персональных данных и настоящим разделом о политике конфиденциальности.</p>
            <p>Обработка персональных данных Пользователя производится в целях идентификации Пользователя, предоставления идентифицированному Пользователю доступа к материалам и сервисам Сайта; установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сервисов Сайта, оказания услуг, обработку запросов и заявок от Пользователя; определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества; уведомления Пользователя о состоянии бронирования; предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта; предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Мозгвы или от имени ее партнеров; осуществления рекламной деятельности с согласия Пользователя.</p>
            <p>Мозгва гарантирует, что при обработке персональных данных принимает все необходимые организационные и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных и иных неправомерных действий.</p>
            <p>Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</p>
            <p>Мозгва предоставляет доступ к персональным данным Пользователя только тем лицам и работникам, которым эта информация необходима для исполнения обязанностей, вытекающих из настоящего Соглашения и иных соглашений (оферт), размещенных на Сайте. Мозгва гарантирует соблюдение указанными лицами конфиденциальности персональных данных Пользователя и безопасности персональных данных при их обработке.</p>
            <p>Мозгва вправе раскрыть любую собранную о Пользователе Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Мозгвы или в права других Пользователей Сайта.</p>
            <p>Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">6.Ограничения ответственности.</h3>
            <p>Все материалы и сервисы Сайта предоставляется в исходном виде, без гарантий полноты или своевременности, и без иных явно выраженных или подразумеваемых гарантий. Доступ к Сайту, а также использование его материалов и сервисов осуществляются исключительно по усмотрению Пользователя и на его риск.</p>
            <p>Мозгва не несет никакой ответственности за любые ошибки, опечатки и неточности, которые могут быть обнаружены в материалах, содержащихся на данном Сайте.</p>
            <p>Некоторые ссылки на Сайте ведут к ресурсам, расположенным на сторонних сайтах. Данные ссылки размещены для удобства Пользователей и не означают, что Мозгва одобряет содержание других сайтов. Кроме этого, Мозгва не несет никакой ответственности за доступность этих ресурсов и за их контент. Это заявление относится ко всем ссылкам, представленным на Сайте, и материалам всех веб-сайтов, доступных через баннеры и ссылки на Сайте.</p>
            <p>Мозгва не несет ответственности за возможные противоправные действия Пользователя относительно третьих лиц, либо третьих лиц относительно Пользователя.</p>
            <p>Сайт может использовать идентификационные файлы cookies для хранения личной и общей информации о Пользователях. «Cookies» представляют собой небольшие текстовые файлы, которые могут использоваться интернет-сайтом для опознавания повторных посетителей, упрощения доступа и использования посетителем сайта, а также отслеживания сайтом обращений посетителей и сбора общей информации для улучшения содержания. Пройдя процедуру регистрации, Пользователь выражаете свое согласие на использование Сайтом cookies.</p>
            <p>Мозгва не несет ответственности за ущерб, убытки или расходы (реальные либо возможные), возникшие в связи с настоящим Сайтом, его использованием или невозможностью использования.</p>
            <p>Мозгва не несет ответственности за неполное, неточное, некорректное указание Пользователем своих данных при использовании сервисов Сайта.</p>
            <p>Мозгва не несет ответственности за задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</p>
            <p>Мозгва оставляет за собой право без объяснения причин в любое время отказать Пользователю в оказании услуг по организации и проведению Бар-олимпиады.</p>
          </div>
          <div class="rule">
            <h3 class="text-center">7. Иные положения.</h3>
            <p>Настоящее Соглашение составлено и регулируется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке, установленном действующим законодательством Российской Федерации.</p>
            <p>Ввиду безвозмездности услуг, оказываемых в рамках настоящего Соглашения, нормы о защите прав потребителей, предусмотренные законодательством Российской Федерации, не могут быть применимыми к отношениям между Пользователем и Мозгвой.</p>
            <p>Настоящее Соглашение не является основанием для возникновения каких-либо финансовых обязательств или отношений об объединении между Пользователем и Мозгвой.</p>
            <p>В случае признания одного или несколько положений настоящего Соглашения недействительными или не имеющими юридической силы, это не окажет влияния на действительность или применимость остальных положений Соглашения.</p>
            <p>Настоящее Соглашение заключается на неопределенный срок.</p>
          </div>
          <div class="blueBtn" data-dismiss="modal">Закрыть</div>
      </div>
    </div>
  </div>
</div>