<section class="topInfo franchise">
	<div class="contentWrap">
		<a class="whiteBorderBtn" href="">Войти</a>
		<h1>Франшиза<br/> и спонсорство</h1>
	</div>
</section>

<section class="franchiseSec">
	<ul class="navigationWrap">
		<li><a href="">Лиги</a></li>
		<li><a href="">Сертификаты</a></li>
		<li><a href="">Рейтинг команд</a></li>
		<li><a href="">Корпоратив</a></li>
		<li><a href="">Франшиза и спонсорство</a></li>
	</ul>
	<div class="franchiseWrap">
		<div class="infoBlock">
			<div class="rectangle">
				<article>Что такое Мозгва и чем это грозит?</article>
				<p>
				Друзья, мы начинаем серию удивительных репортажей о наших командах! В них мы будем рассказывать вам о тех, кто круче всех играет, дольше всех к нам ходит, ярче всех празднует последнее место, постоянно выигрывает наши термостаканы в инстаграм конкурсе. <br/>Ребята показывают такую игру, что захватывает дух. По нашему новому рейтингу Черешня – безоговорочный лидер с показателем 88% от максимального количества баллов, которые они вообще могли набрать. А значит,  пока Черешня на вершине, вход на Мозгву для Черешни свободный!
				</p>
				
			</div>
			<div class="square">
				<article>География<br/> Мозгвы</article>
					<a href="">Москва</a>
					<a href="">Берлин</a>
					<a href="">Санкт-Петербург</a>
			</div>
			<div class="rectangle">
				<article>Что требуется?</article>
				<ul>
					<li><span>ярче всех празднует последнее место, постоянно выигрывает наши термостаканы в инстаграм </span></li>
					<li><span>разднует последнее место, постоянно выигры</span></li>
					<li><span>всех празднует последнее место, постоянно выигрывает наши термоста</span></li>
					<li><span>разднует постоянннует последнее место, постоянно выигры</span></li>
				</ul>
			</div>
			<div class="square">
				<article>Условия<br/> сотрудничества</article>
				<a href="">
					<img src="<%= asset_path('symbol/download.png') %>"/>
				</a>
				<a href="">скачать</a>
				<span>.PDF (5 Мб)</span>
			</div>
		</div>
		<div class="widget">
			<h2>Хочу<br/> свою<br/> Мозгву</h2>
			<a href="" class="btnBlue">
				Хочу!
			</a>
		</div>
	</div>
	<footer class="franchiseF">
		<ul>
			<li>
				<div><img src="<%= asset_path('symbol/like.png') %>"/><span>Лойс</span></div>
				<div class="tag">#этомозвадетка</div>
			</li>
			<li>
				<div><img src="<%= asset_path('symbol/location.png') %>"/><span>москва</span></div>
				<img src="<%= asset_path('calendar/logo.png') %>"/>
			</li>
		</ul>
	</footer>
</section>