<section class="lightningSection">
	<div class="contentWrapper">
		<p>
		<span><img src="<%= asset_path('lightningSec/lightning.png') %>"></span>
		Молния!
		</p>
		<div class="imgWrapp">
			<img class="left" src="<%= asset_path('lightningSec/bgLeft.png') %>">
		</div>
		
		<h3>Начинается Чемпионат Мозгвы! Опа-опа!</h3>

	</div>
	
	
</section>