<section class="topInfo franchise">
	<div class="contentWrap">
		<a class="whiteBorderBtn" href="">Войти</a>
		<h1>Сертификат</h1>
	</div>
</section>

<section class="franchiseSec">
	<ul class="navigationWrap">
		<li><a href="">Лиги</a></li>
		<li><a href="">Сертификаты</a></li>
		<li><a href="">Рейтинг команд</a></li>
		<li><a href="">Корпоратив</a></li>
		<li><a href="">Франшиза и спонсорство</a></li>
	</ul>
	<div class="mainWrap">
		<div class="AboutSertWrap">
			<h1>Дарите Мозгву!</h1>
			<p>Забудьте про цветы. У нас можно купить подарочные сертификаты на 3-х, 6-х и 9-х участников. Забрать сертификаты можно на одной из игр или у нас в офисе в р-не Третьяковской.</p>
		</div>
		<div class="formSertWrap"></div>

	</div>
	<footer class="franchiseF">
		<ul>
			<li>
				<div><img src="<%= asset_path('symbol/like.png') %>"/><span>Лойс</span></div>
				<div class="tag">#этомозвадетка</div>
			</li>
			<li>
				<div><img src="<%= asset_path('symbol/location.png') %>"/><span>москва</span></div>
				<img src="<%= asset_path('calendar/logo.png') %>"/>
			</li>
		</ul>
	</footer>
</section>
