<% if current_user.team %>
  <p>Вы не можете принимать приглашения, пока состоите в команде</p>
<% end %>
<table>
  <tr>
    <th>Команда</th>
    <th>Приглашающий</th>
    <th></th>
    <th></th>
  </tr>
  <% invitations.each do |inv| %>
    <tr>
      <td><%= inv.team.name %></td>
      <td><%= "#{inv.inviter.name}(#{inv.inviter.email})" if inv.inviter %></td>
      <% unless current_user.team %>
        <td><%= link_to 'Принять', accept_invitation_path(inv) %></td>
      <% end %>
      <td><%= link_to 'Отклонить', decline_invitation_path(inv) %></td>
    </tr>
  <% end %>
</table>