
p#fff {
    margin-right: 25px;
}

.sell {
  background-color: #ffbb44;
  line-height: 1.2;
  overflow: hidden;
  padding-bottom: 70px;
  padding-top: 70px;
  background: url(../images/tilda.png) no-repeat 200px 160px, url(../images/a.png) no-repeat right -60px top 501px #ffbb44;
}
.sell_left img {
	width: 90%;
}
.sell_right h1 {
	color:#e3010f;
	font-size: 5rem;
}

.sell_right ul {
	padding-top: 50px;
	padding-bottom: 40px;
}
.sell_right ul li {
	display: inline-block;
	width: 30%;
}
.sell_right ul li .red_text {
	color:#e3010f;
	font-size: 2rem;
	font-style: italic;
	font-weight: 800;
}

.sell_right .red_btn {
	color: #fff;
	background-color: #e3010f;
	font-size: 1.7rem;
	font-weight: 800;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 30px;
	font-family: "graublauslab-bolduploadedfile";
	
}


.sert {
	padding-bottom: 50px;
}
.sert h1{
	text-align: center;
	font-size: 5rem;
	color: #df2929;
	padding-bottom: 50px;
	padding-top: 30px;
}
.sert h3 {
	font-family: "graublauslab-bolduploadedfile";
	padding-bottom: 20px;
	

}
.sert_right {
	padding-bottom: 50px;
}
.sert_left input{
	display: block;
	margin-bottom: 10px;
	width: 70%;
	height: 40px;
	border: 4px solid #000;
	text-align: center;
}
.sert_right img {
	margin-right: 33px;
	-webkit-box-shadow: 10px 13px 40px -30px rgba(125,123,125,1);
	-moz-box-shadow: 10px 13px 40px -30px rgba(125,123,125,1);
	box-shadow: 10px 13px 40px -30px rgba(125,123,125,1);
	margin-bottom: 15px;
}

.sert_right .chec input {
	 background: url(../images/chek.png) no-repeat;
}
.sert_right .chec label {
 width: 45px; /* Ширина рисунка */
 height: 45px; /* Высота рисунка */
 display: inline-block;
 position: relative; /* Относительное позиционирование */
 margin-right: 105px;
}

.sert_right .chec input[type="checkbox"] + span {
 position: absolute; /* Абсолютное позиционирование */
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: url(../images/chek.png) no-repeat;
 cursor: pointer; /* Курсор в виде руки */
}


.sert_right .chec input[type="checkbox"]:checked + span  	{
	background: url(../images/chek-active.png) no-repeat;
}

.sert_right .chec input[type="radio"] + span {
 position: absolute; /* Абсолютное позиционирование */
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: url(../images/radio.png) no-repeat;
 cursor: pointer; /* Курсор в виде руки */
}
.sert_right .chec input[type="radio"]:checked + span  	{
	background: url(../images/radio-active.png) no-repeat;
}
.sert_right .chec h4 {
	display: inline-block;
	position: relative;
	left: -100px;
	top: 20px;	
}

.sert_right ul {
	padding-top: 15px;
	padding-bottom: 40px;
}
.sert_right ul li {
	display: inline-block;
	width: 30%;
}
.sert_right ul li .red_text {
	color:#e3010f;
	font-size: 2rem;
	font-style: italic;
	font-weight: 800;
}

.sert .fix_btn {
	text-align: center;

}
.sert .red_btn {
	color: #fff;
	background-color: #e3010f;
	font-size: 1.7rem;
	font-weight: 800;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 30px;
	font-family: "graublauslab-bolduploadedfile";
	border: none;
	cursor: pointer;
	
}

.btn_close {
	position: absolute;
	right: 20px;
	top: 20px;
}
.thx {
	text-align: center;
}
.thx h1{
	padding-top: 30vh;
	font-size: 3.5rem;
	color: red;
}
.thx h2{
	padding-top: 7vh;
	
}

body:nth-of-type(1) .sell {
background: url(../images/tilda.png) no-repeat 200px 160px, url(../images/a.png) no-repeat right -60px top 497px #ffbb44;}

.reit {
	background-color: #df2929;
}
.reit_title h1{
  	font-size: 120px;
	line-height: 0.7;
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 40px;
	font-family: "graublauslab-bolduploadedfile";
	margin: 0;
}
.section_1 h3 {
	color:#1c3cff;
	float:left;
	font-family: "graublauslab-bolduploadedfile";
	font-size: 40px;
	padding-top: 25px;
	padding-bottom: 50px;
}
.section_1 ul {
	float:right;
	padding-top: 40px;
}

.section_1 ul li {
	display: inline-block;
	/*padding: 10px;*/
}
.section_1 ul li img{
	width: 60px;
}

.section_1 table {
	width: 100%;
}

.section_1 table tr td:nth-child(1) {
	width: 36%;
	font-size: 18px;
	font-weight: 400;
	font-family: "graublausans-bolduploadedfile";
}
.section_1 table tr td:nth-child(2) {
	width: 20%;
	font-size: 48px;
	font-family: "graublauslab-bolduploadedfile";
	font-weight: 800;
}
.section_1 table tr td:nth-child(3) {
	width: 20%;
	font-size: 48px;
	font-family: "graublauslab-bolduploadedfile";
	font-weight: 800;
}
.section_1 table tr td:nth-child(4) {
	width: 20%;
	font-size: 48px;
	font-family: "graublauslab-bolduploadedfile";
	font-weight: 800;
}
.section_1 table tr td:nth-child(5) {
	width: 10%;
	text-align: center;
}

.section_1 table thead tr td{
	font-weight: 400 !important;;
	color: #df2929;	
	font-family: "graublauslab-bolduploadedfile" !important;
	font-size: 18px !important;
	line-height: 1;
}
.section_1 table tbody {
	position: relative;
    top: 30px;
}
.section_1 table tbody tr td{
	height: 100px;
}

.btn_reit {
	font-size: 40px !important;
	font-family: "graublauslab-bolduploadedfile" !important;
	background-size: cover !important;
	border-radius: 100px !important;
	border: none;
	background-image: url("../img/btn-rating.png") !important;
	width: 340px;
	cursor: pointer;
	position: relative;
	top: -10px;
	margin: 0px auto !important;
	color: #000 !important;
}
.chm_bg {
	background-image: url("../img/bg_ch.png");
	background-size: cover;
}
.chm_form {
	padding-bottom: 50px;
}
.chm_form input {
 width: 100%;
 
}
.chm_1_4 h3 {
	padding-bottom: 70px;
	color: #fff;
}
.chm_1_4 .chec label {
	margin: 0 70px;
	color: #fff;
}

.chm_1_4 ul li {
	margin: 0 63px;
	width: auto;
	color: #fff;
}

.town {
	font-size: 14px;
	text-align: right;
	margin-top: 20px;

}
.town a {
	color: #fff !important;
	/*border-bottom: 1px dotted #fff;
	cursor: pointer;*/

}
.town a:hover {
	color: #ffbb44 !important;
/*	border-bottom: 1px solid #fff;
	cursor: pointer;

*/
}

.town .menu_town {
	display: none;
}

.menu_town {
	padding-top: 10px;	
}
.menu_town p {
	padding-top: 5px;	
}
.my_town:hover +.menu_town {
	display: block;
}
.menu_town:hover {
	display: block;
}
