<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для восстановления пароля. .</p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, просто проигнорируйте это письмо.</p>
